<!DOCTYPE html>
<html>
  <head>
    <title>Arduino DAC</title>
    <meta http-equiv="pragma" content="no-cache">
    <link rel="stylesheet" href="static/jquery-ui-1.10.4.custom.min.css?v=1" type="text/css" />
    <link rel="stylesheet" href="static/style.css?v=8" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
      {{ g.sijax.get_js()|safe }}
    </script>
  </head>

  <body>
    <div class="center">
      <h2>DAC A Voltage</h2>
      <div class="display" id="displayDacAVoltage"></div>
      <div class="slider" id="sliderDacAVoltage"></div>
    </div>
    <div class="center">
      <h2>DAC A Waveform</h2>
      <button class="button" id="sineWave">Sine Wave</button>
      <button class="button" id="triangleWave">Triangle Wave</button>
      <button class="button" id="sawtoothWave">Sawtooth Wave</button>
      <button class="button" id="squareWave">Square Wave</button>
    </div>
    <div class="center">
      <button class="button" id="stopWaveform">Stop Waveform</button>
    </div>
    <script type="text/javascript" src="/static/js/scripts/script.js"></script>
  </body>
</html>
